#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.btn-primary {
  color: black;
  background-color:#afafaf;
  border: black;
  box-shadow: 5px 5px 10px gray;
  margin: 5px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
.btn-primary:hover{
  color: rgb(255, 255, 255);
  background-color:#3b3a3a;
  border: 2px black;
 
}

.btn-close {
  color: rgb(94, 25, 25);
  background-color:rgba(37, 37, 37, 0);
  margin: 8px;
  border: none;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn-close:hover{
  color: rgb(34, 8, 8);
  border: 2px rgb(44, 17, 17);
  border-radius: 5px;

 
}

.divContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.phoneImg {
  width: 300px;
}
.cardDetails{
  background-color: rgba(37, 37, 37, 0.212);
  width: 300px;
  border:1px solid rgb(138, 130, 130);
  border-radius: 8px;
}
.title{
  font-size: 2rem;
}
.listGroup{
  text-align: left;
  margin-top: 10px;
  padding: 2px;
}

.item{
  margin: 10px;
}

/* MEDIA QUERYS */

@media (min-width: 700px) {

  .cardDetails{
    display: flex;
    width: 700px;
  }

  .phoneImg {
    width: 50vh;
  }
}


